In [1]:
import pandas as pd 
import html5lib

In [101]:
#url = "http://www.boxofficemojo.com/people/chart/?view=Actor&id=harrisonford.htm"
#url = "http://www.boxofficemojo.com/people/chart/?id=paulgiamatti.htm"
#url = 'http://www.boxofficemojo.com/people/chart/?id=stellanskarsgard.htm'
#url ='http://www.boxofficemojo.com/people/chart/?id=elizabethbanks.htm'
#url = "http://www.boxofficemojo.com/people/chart/?id=camerondiaz.htm"
#url = "http://www.boxofficemojo.com/people/chart/?id=juliannemoore.htm"
url ="http://www.boxofficemojo.com/people/chart/?id=stanleytucci.htm"

In [102]:
#url = "http://www.boxofficemojo.com/alltime/weekends/"

In [103]:
df = pd.read_html(url)

In [104]:
df = df[1]

In [105]:
df = df.drop([0])

In [106]:
df.columns = ['date','title','studio','lifetime_gross','widest release', 'opening_gross','opening release', 'rank']

In [107]:
df.tail()

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank
61,12/8/89,"Fear, Anxiety and Depression",Gold.,"$47,148",1,"$4,212",1,44
62,3/17/89,Slaves of New York,TriS,"$463,972",13,"$26,118",1,-
63,7/29/88,Monkey Shines,Orion,"$5,344,577",1181,"$1,902,024",1181,33
64,8/7/87,Who's That Girl,WB,"$7,305,209",944,"$2,548,205",944,-
65,6/14/85,Prizzi's Honor,Fox,"$26,657,534",722,"$4,234,537",719,-

In [108]:
df['open_gross'] = df['opening_gross'].astype(str).apply(lambda x: x.strip('$'))
df['life_gross'] = df['lifetime_gross'].astype(str).apply(lambda x: x.strip('$'))

In [109]:
df['opengross'] = df['open_gross'].apply(lambda x:x.replace(',',''))
df['lifetimegross'] = df['life_gross'].apply(lambda x:x.replace(',',''))

In [110]:
del df['lifetime_gross']
del df['opening_gross']

In [111]:
df_life = df[df['lifetimegross'] != 'n/a']['lifetimegross']

In [112]:
df_life = df_life.astype(float)

In [113]:
df['lifetimegross'] = df['lifetimegross'].astype(float)

In [114]:
sum(df['lifetimegross'])

3609777426.0

In [99]:
sum(df_life)

4013870782.0

In [ ]:
sum = 0
count = 0
for i in range(len(df['lifetimegross'])):
    try:
        sum += int(df['lifetimegross'][i])
        count +=1
    except:
        continue

In [ ]:
sum, count

In [ ]:
df['date']

In [ ]:
import copy
df_copy = df.copy()

In [ ]:
df_copy.head()

In [ ]:
del df_copy['lifetime_gross']
del df_copy['opening_gross']

In [ ]:
df_copy['datetime'] = pd.to_datetime(df_copy['date'])

In [ ]:
df_copy.head()

In [ ]:
df_by_releasedate = df_copy.sort_values(by='datetime')

In [ ]:
df_by_releasedate.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df_by_releasedate.head()

In [ ]:
D = df_by_releasedate[df_by_releasedate['lifetimegross'] != 'n/a']