In [1]:
import pandas as pd 
import html5lib

In [16]:
url = "http://www.boxofficemojo.com/people/chart/?view=Actor&id=harrisonford.htm"

In [3]:
#url = "http://www.boxofficemojo.com/alltime/weekends/"

In [17]:
df = pd.read_html(url)

In [18]:
df = df[1]

In [19]:
df

,0,1,2,3,4,5,6,7
0,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,NaN,NaN
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12
5,11/1/13,Ender's Game,LG/S,"$61,737,191",3407,"$27,017,351",3407,21
6,8/16/13,Paranoia,Rela.,"$7,385,015",2459,"$3,528,376",2459,38
7,4/12/13,42,WB,"$95,020,213",3405,"$27,487,144",3003,15
8,7/29/11,Cowboys & Aliens,Uni.,"$100,240,551",3754,"$36,431,290",3750,14
9,11/10/10,Morning Glory,Par.,"$31,011,732",2544,"$9,203,266",2518,32
10,1/22/10,Extraordinary Measures,CBS,"$12,068,313",2549,"$6,012,594",2549,36
11,2/27/09,Crossing Over,Wein.,"$455,654",42,"$77,370",9,41
12,5/22/08,Indiana Jones and the Kingdom of the Crystal S...,Par.,"$317,101,119",4264,"$100,137,835",4260,3
13,2/10/06,Firewall,WB,"$48,751,189",2840,"$13,635,463",2840,23
14,6/13/03,Hollywood Homicide,SonR,"$30,940,691",2840,"$11,112,632",2840,33
15,7/19/02,K-19: The Widowmaker,Par.,"$35,168,966",2830,"$12,778,459",2828,28
16,7/21/00,What Lies Beneath,DW,"$155,464,351",2925,"$29,702,959",2813,11
17,10/8/99,Random Hearts,Sony,"$31,502,583",2697,"$13,012,585",2697,31
18,6/12/98,"Six Days, Seven Nights",BV,"$74,339,294",2606,"$16,485,276",2550,18
19,7/25/97,Air Force One,Sony,"$172,956,409",2981,"$37,132,505",2919,10
20,3/28/97,The Devil's Own,Sony,"$42,868,348",2504,"$14,274,503",2504,25
21,12/15/95,Sabrina,Par.,"$53,672,080",1976,"$5,563,259",1821,22
22,8/5/94,Clear and Present Danger,Par.,"$122,187,717",2433,"$20,348,017",2378,13
23,4/1/94,Jimmy Hollywood,Par.,"$3,783,003",944,"$1,451,000",944,-
24,8/6/93,The Fugitive,WB,"$183,875,760",2425,"$23,758,855",2340,8
25,6/5/92,Patriot Games,Par.,"$83,351,587",2396,"$18,511,191",2365,17
26,7/12/91,Regarding Henry,Par.,"$43,001,500",1090,"$6,146,782",800,24
27,7/27/90,Presumed Innocent,WB,"$86,303,188",1451,"$11,718,981",1349,16
28,5/24/89,Indiana Jones and the Last Crusade,Par.,"$197,171,806",2327,"$29,355,021",2327,7
29,12/23/88,Working Girl,Fox,"$63,779,477",1149,"$4,718,485",1051,20
30,2/26/88,Frantic,WB,"$17,637,950",1101,"$4,359,424",1101,34
31,11/26/86,The Mosquito Coast,WB,"$14,302,779",451,"$110,313",3,35
32,2/8/85,Witness,Par.,"$68,706,993",1169,"$4,539,990",876,19
33,5/23/84,Indiana Jones and the Temple of Doom,Par.,"$179,870,271",1687,"$25,337,110",1687,9
34,5/25/83,Return of the Jedi,Fox,"$309,306,177",1764,"$23,019,618",1002,4
35,6/25/82,Blade Runner,WB,"$32,868,943",1325,"$6,150,002",1295,30
36,6/12/81,Raiders of the Lost Ark,Par.,"$248,159,971",1078,"$8,305,823",1078,6
37,5/21/80,The Empire Strikes Back,Fox,"$290,475,067",1278,"$4,910,483",126,5
38,8/15/79,Apocalypse Now,MGM,"$83,471,511",-,"$118,558",3,-
39,8/3/79,More American Graffiti,Uni.,"$15,014,674",-,n/a,-,-
40,7/13/79,The Frisco Kid,WB,"$9,346,177",-,"$160,292",26,37
41,5/18/79,Hanover Street,Col.,"$3,000,000",-,n/a,-,40
42,12/22/78,Force 10 From Navarone,AIP,"$7,230,000",-,n/a,-,39
43,11/17/77,Heroes,Uni.,"$33,500,000",-,n/a,-,29
44,5/25/77,Star Wars,Fox,"$460,998,007",1750,"$1,554,475",43,2
45,4/7/74,The Conversation,Par.,"$4,420,000",-,n/a,-,-
46,8/1/73,American Graffiti,Uni.,"$115,000,000",-,n/a,-,-
47,5/13/70,Getting Straight,Col.,"$13,300,000",-,n/a,-,-
48,10/19/68,Journey to Shiloh,Uni.,"$407,500",-,n/a,-,-
49,11/1/67,A Time for Killing,Col.,n/a,-,n/a,-,-

In [20]:
df = df.drop([0])

In [ ]:
df.columns = ['date','title','studio','lifetime_gross','widest release', 'opening_gross','opening release', 'rank']

In [ ]:
df.head()

In [ ]:
df['open_gross'] = df['opening_gross'].astype(str).apply(lambda x: x.strip('$'))
df['life_gross'] = df['lifetime_gross'].astype(str).apply(lambda x: x.strip('$'))

In [ ]:
df['opengross'] = df['open_gross'].apply(lambda x:x.replace(',',''))
df['lifetimegross'] = df['life_gross'].apply(lambda x:x.replace(',',''))

In [ ]:
df['opengross'].value_counts()

In [ ]:
df['lifetimegross'].value_counts()

In [ ]:
print list(df['lifetimegross'])

In [ ]:
sum = 0
count = 0
for i in range(len(df['lifetimegross'])):
    try:
        sum += int(df['lifetimegross'][i])
        count +=1
    except:
        continue

In [ ]:
sum, count

In [ ]:
df['date']

In [ ]:
import copy
df_copy = df.copy()

In [ ]:
df_copy.head()

In [ ]:
del df_copy['lifetime_gross']
del df_copy['opening_gross']

In [ ]:
df_copy['datetime'] = pd.to_datetime(df_copy['date'])

In [ ]:
df_copy.head()

In [ ]:
df_by_releasedate = df_copy.sort_values(by='datetime')

In [ ]:
df_by_releasedate.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df_by_releasedate.head()

In [ ]:
D = df_by_releasedate[df_by_releasedate['lifetimegross'] != 'n/a']