In [1]:
import pandas as pd 
import html5lib

In [2]:
url = "http://www.boxofficemojo.com/people/chart/?view=Actor&id=harrisonford.htm"

In [3]:
df = pd.read_html(url)

In [9]:
df = df[1]

In [10]:
df.head()

,0,1,2,3,4,5,6,7
0,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,NaN,NaN
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12

In [26]:
df.head()

,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,nan,nan
0,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,NaN,NaN
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12

In [27]:
df.drop([0])

,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,nan,nan
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12
5,11/1/13,Ender's Game,LG/S,"$61,737,191",3407,"$27,017,351",3407,21
6,8/16/13,Paranoia,Rela.,"$7,385,015",2459,"$3,528,376",2459,38
7,4/12/13,42,WB,"$95,020,213",3405,"$27,487,144",3003,15
8,7/29/11,Cowboys & Aliens,Uni.,"$100,240,551",3754,"$36,431,290",3750,14
9,11/10/10,Morning Glory,Par.,"$31,011,732",2544,"$9,203,266",2518,32
10,1/22/10,Extraordinary Measures,CBS,"$12,068,313",2549,"$6,012,594",2549,36
11,2/27/09,Crossing Over,Wein.,"$455,654",42,"$77,370",9,41
12,5/22/08,Indiana Jones and the Kingdom of the Crystal S...,Par.,"$317,101,119",4264,"$100,137,835",4260,3
13,2/10/06,Firewall,WB,"$48,751,189",2840,"$13,635,463",2840,23
14,6/13/03,Hollywood Homicide,SonR,"$30,940,691",2840,"$11,112,632",2840,33
15,7/19/02,K-19: The Widowmaker,Par.,"$35,168,966",2830,"$12,778,459",2828,28
16,7/21/00,What Lies Beneath,DW,"$155,464,351",2925,"$29,702,959",2813,11
17,10/8/99,Random Hearts,Sony,"$31,502,583",2697,"$13,012,585",2697,31
18,6/12/98,"Six Days, Seven Nights",BV,"$74,339,294",2606,"$16,485,276",2550,18
19,7/25/97,Air Force One,Sony,"$172,956,409",2981,"$37,132,505",2919,10
20,3/28/97,The Devil's Own,Sony,"$42,868,348",2504,"$14,274,503",2504,25
21,12/15/95,Sabrina,Par.,"$53,672,080",1976,"$5,563,259",1821,22
22,8/5/94,Clear and Present Danger,Par.,"$122,187,717",2433,"$20,348,017",2378,13
23,4/1/94,Jimmy Hollywood,Par.,"$3,783,003",944,"$1,451,000",944,-
24,8/6/93,The Fugitive,WB,"$183,875,760",2425,"$23,758,855",2340,8
25,6/5/92,Patriot Games,Par.,"$83,351,587",2396,"$18,511,191",2365,17
26,7/12/91,Regarding Henry,Par.,"$43,001,500",1090,"$6,146,782",800,24
27,7/27/90,Presumed Innocent,WB,"$86,303,188",1451,"$11,718,981",1349,16
28,5/24/89,Indiana Jones and the Last Crusade,Par.,"$197,171,806",2327,"$29,355,021",2327,7
29,12/23/88,Working Girl,Fox,"$63,779,477",1149,"$4,718,485",1051,20
30,2/26/88,Frantic,WB,"$17,637,950",1101,"$4,359,424",1101,34
31,11/26/86,The Mosquito Coast,WB,"$14,302,779",451,"$110,313",3,35
32,2/8/85,Witness,Par.,"$68,706,993",1169,"$4,539,990",876,19
33,5/23/84,Indiana Jones and the Temple of Doom,Par.,"$179,870,271",1687,"$25,337,110",1687,9
34,5/25/83,Return of the Jedi,Fox,"$309,306,177",1764,"$23,019,618",1002,4
35,6/25/82,Blade Runner,WB,"$32,868,943",1325,"$6,150,002",1295,30
36,6/12/81,Raiders of the Lost Ark,Par.,"$248,159,971",1078,"$8,305,823",1078,6
37,5/21/80,The Empire Strikes Back,Fox,"$290,475,067",1278,"$4,910,483",126,5
38,8/15/79,Apocalypse Now,MGM,"$83,471,511",-,"$118,558",3,-
39,8/3/79,More American Graffiti,Uni.,"$15,014,674",-,n/a,-,-
40,7/13/79,The Frisco Kid,WB,"$9,346,177",-,"$160,292",26,37
41,5/18/79,Hanover Street,Col.,"$3,000,000",-,n/a,-,40
42,12/22/78,Force 10 From Navarone,AIP,"$7,230,000",-,n/a,-,39
43,11/17/77,Heroes,Uni.,"$33,500,000",-,n/a,-,29
44,5/25/77,Star Wars,Fox,"$460,998,007",1750,"$1,554,475",43,2
45,4/7/74,The Conversation,Par.,"$4,420,000",-,n/a,-,-
46,8/1/73,American Graffiti,Uni.,"$115,000,000",-,n/a,-,-
47,5/13/70,Getting Straight,Col.,"$13,300,000",-,n/a,-,-
48,10/19/68,Journey to Shiloh,Uni.,"$407,500",-,n/a,-,-
49,11/1/67,A Time for Killing,Col.,n/a,-,n/a,-,-

In [28]:
df.columns = ['date','title','studio','lifetime_gross','widest release', 'opening_gross','opening release', 'rank']

In [29]:
df.head()

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank
0,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,NaN,NaN
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12

In [30]:
df = df.drop([0])

In [39]:
df

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12
5,11/1/13,Ender's Game,LG/S,"$61,737,191",3407,"$27,017,351",3407,21
6,8/16/13,Paranoia,Rela.,"$7,385,015",2459,"$3,528,376",2459,38
7,4/12/13,42,WB,"$95,020,213",3405,"$27,487,144",3003,15
8,7/29/11,Cowboys & Aliens,Uni.,"$100,240,551",3754,"$36,431,290",3750,14
9,11/10/10,Morning Glory,Par.,"$31,011,732",2544,"$9,203,266",2518,32
10,1/22/10,Extraordinary Measures,CBS,"$12,068,313",2549,"$6,012,594",2549,36
11,2/27/09,Crossing Over,Wein.,"$455,654",42,"$77,370",9,41
12,5/22/08,Indiana Jones and the Kingdom of the Crystal S...,Par.,"$317,101,119",4264,"$100,137,835",4260,3
13,2/10/06,Firewall,WB,"$48,751,189",2840,"$13,635,463",2840,23
14,6/13/03,Hollywood Homicide,SonR,"$30,940,691",2840,"$11,112,632",2840,33
15,7/19/02,K-19: The Widowmaker,Par.,"$35,168,966",2830,"$12,778,459",2828,28
16,7/21/00,What Lies Beneath,DW,"$155,464,351",2925,"$29,702,959",2813,11
17,10/8/99,Random Hearts,Sony,"$31,502,583",2697,"$13,012,585",2697,31
18,6/12/98,"Six Days, Seven Nights",BV,"$74,339,294",2606,"$16,485,276",2550,18
19,7/25/97,Air Force One,Sony,"$172,956,409",2981,"$37,132,505",2919,10
20,3/28/97,The Devil's Own,Sony,"$42,868,348",2504,"$14,274,503",2504,25
21,12/15/95,Sabrina,Par.,"$53,672,080",1976,"$5,563,259",1821,22
22,8/5/94,Clear and Present Danger,Par.,"$122,187,717",2433,"$20,348,017",2378,13
23,4/1/94,Jimmy Hollywood,Par.,"$3,783,003",944,"$1,451,000",944,-
24,8/6/93,The Fugitive,WB,"$183,875,760",2425,"$23,758,855",2340,8
25,6/5/92,Patriot Games,Par.,"$83,351,587",2396,"$18,511,191",2365,17
26,7/12/91,Regarding Henry,Par.,"$43,001,500",1090,"$6,146,782",800,24
27,7/27/90,Presumed Innocent,WB,"$86,303,188",1451,"$11,718,981",1349,16
28,5/24/89,Indiana Jones and the Last Crusade,Par.,"$197,171,806",2327,"$29,355,021",2327,7
29,12/23/88,Working Girl,Fox,"$63,779,477",1149,"$4,718,485",1051,20
30,2/26/88,Frantic,WB,"$17,637,950",1101,"$4,359,424",1101,34
31,11/26/86,The Mosquito Coast,WB,"$14,302,779",451,"$110,313",3,35
32,2/8/85,Witness,Par.,"$68,706,993",1169,"$4,539,990",876,19
33,5/23/84,Indiana Jones and the Temple of Doom,Par.,"$179,870,271",1687,"$25,337,110",1687,9
34,5/25/83,Return of the Jedi,Fox,"$309,306,177",1764,"$23,019,618",1002,4
35,6/25/82,Blade Runner,WB,"$32,868,943",1325,"$6,150,002",1295,30
36,6/12/81,Raiders of the Lost Ark,Par.,"$248,159,971",1078,"$8,305,823",1078,6
37,5/21/80,The Empire Strikes Back,Fox,"$290,475,067",1278,"$4,910,483",126,5
38,8/15/79,Apocalypse Now,MGM,"$83,471,511",-,"$118,558",3,-
39,8/3/79,More American Graffiti,Uni.,"$15,014,674",-,n/a,-,-
40,7/13/79,The Frisco Kid,WB,"$9,346,177",-,"$160,292",26,37
41,5/18/79,Hanover Street,Col.,"$3,000,000",-,n/a,-,40
42,12/22/78,Force 10 From Navarone,AIP,"$7,230,000",-,n/a,-,39
43,11/17/77,Heroes,Uni.,"$33,500,000",-,n/a,-,29
44,5/25/77,Star Wars,Fox,"$460,998,007",1750,"$1,554,475",43,2
45,4/7/74,The Conversation,Par.,"$4,420,000",-,n/a,-,-
46,8/1/73,American Graffiti,Uni.,"$115,000,000",-,n/a,-,-
47,5/13/70,Getting Straight,Col.,"$13,300,000",-,n/a,-,-
48,10/19/68,Journey to Shiloh,Uni.,"$407,500",-,n/a,-,-
49,11/1/67,A Time for Killing,Col.,n/a,-,n/a,-,-

In [92]:
df['open_gross'] = df['opening_gross'].astype(str).apply(lambda x: x.strip('$'))
df['life_gross'] = df['lifetime_gross'].astype(str).apply(lambda x: x.strip('$'))

In [93]:
df['opengross'] = df['open_gross'].apply(lambda x:x.replace(',',''))
df['lifetimegross'] = df['life_gross'].apply(lambda x:x.replace(',',''))

In [94]:
df['opengross'].value_counts()

n/a          9
25337110     1
37132505     1
6012594      1
13635463     1
118558       1
247966675    1
27017351     1
29702959     1
4539990      1
15879645     1
14274503     1
9203266      1
100137835    1
26232425     1
23019618     1
27487144     1
4359424      1
16485276     1
77370        1
110313       1
1451000      1
13203458     1
5563259      1
18511191     1
6146782      1
29355021     1
4910483      1
20348017     1
3528376      1
11112632     1
36431290     1
6150002      1
11718981     1
12778459     1
160292       1
4718485      1
8305823      1
1554475      1
13012585     1
23758855     1
Name: opengross, dtype: int64

In [95]:
df['lifetimegross'].value_counts()

42868348     1
63779477     1
3000000      1
61737191     1
197171806    1
17637950     1
183875760    1
15014674     1
309306177    1
14302779     1
74339294     1
127352707    1
n/a          1
179870271    1
39322544     1
100240551    1
43001500     1
13300000     1
460998007    1
9346177      1
7385015      1
32868943     1
83351587     1
290475067    1
407500       1
122187717    1
31011732     1
172956409    1
4420000      1
317101119    1
83471511     1
455654       1
86303188     1
3783003      1
115000000    1
155464351    1
48751189     1
35168966     1
12068313     1
68706993     1
53672080     1
95020213     1
33500000     1
7230000      1
248159971    1
30940691     1
936662225    1
31502583     1
42629776     1
Name: lifetimegross, dtype: int64

In [97]:
print list(df['lifetimegross'])

['936662225', '42629776', '39322544', '127352707', '61737191', '7385015', '95020213', '100240551', '31011732', '12068313', '455654', '317101119', '48751189', '30940691', '35168966', '155464351', '31502583', '74339294', '172956409', '42868348', '53672080', '122187717', '3783003', '183875760', '83351587', '43001500', '86303188', '197171806', '63779477', '17637950', '14302779', '68706993', '179870271', '309306177', '32868943', '248159971', '290475067', '83471511', '15014674', '9346177', '3000000', '7230000', '33500000', '460998007', '4420000', '115000000', '13300000', '407500', 'n/a']

In [98]:
sum = 0
count = 0
for i in range(len(df['lifetimegross'])):
    try:
        sum += int(df['lifetimegross'][i])
        count +=1
    except:
        continue

In [100]:
sum, count

(5107121009, 48)

In [102]:
df['date']

1     12/18/15
2      4/24/15
3      8/15/14
4     12/18/13
5      11/1/13
6      8/16/13
7      4/12/13
8      7/29/11
9     11/10/10
10     1/22/10
11     2/27/09
12     5/22/08
13     2/10/06
14     6/13/03
15     7/19/02
16     7/21/00
17     10/8/99
18     6/12/98
19     7/25/97
20     3/28/97
21    12/15/95
22      8/5/94
23      4/1/94
24      8/6/93
25      6/5/92
26     7/12/91
27     7/27/90
28     5/24/89
29    12/23/88
30     2/26/88
31    11/26/86
32      2/8/85
33     5/23/84
34     5/25/83
35     6/25/82
36     6/12/81
37     5/21/80
38     8/15/79
39      8/3/79
40     7/13/79
41     5/18/79
42    12/22/78
43    11/17/77
44     5/25/77
45      4/7/74
46      8/1/73
47     5/13/70
48    10/19/68
49     11/1/67
Name: date, dtype: object