In [2]:
import pandas as pd 
import html5lib

In [3]:
#url = "http://www.boxofficemojo.com/people/chart/?view=Actor&id=harrisonford.htm"
#url = "http://www.boxofficemojo.com/people/chart/?id=paulgiamatti.htm"
#url = 'http://www.boxofficemojo.com/people/chart/?id=stellanskarsgard.htm'
#url ='http://www.boxofficemojo.com/people/chart/?id=elizabethbanks.htm'
#url = "http://www.boxofficemojo.com/people/chart/?id=camerondiaz.htm"
#url = "http://www.boxofficemojo.com/people/chart/?id=juliannemoore.htm"
#url ="http://www.boxofficemojo.com/people/chart/?id=stanleytucci.htm"
url = "http://www.boxofficemojo.com/people/chart/?id=samuelljackson.htm"

In [4]:
#url = "http://www.boxofficemojo.com/alltime/weekends/"

In [5]:
df = pd.read_html(url)

In [6]:
df = df[1]

In [7]:
df = df.drop([0])

In [8]:
df.columns = ['date','title','studio','lifetime_gross','widest release', 'opening_gross','opening release', 'rank']

In [9]:
df.tail()

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank
97,6/30/89,Do the Right Thing,Uni.,"$27,545,445",534,"$3,563,535",353,-
98,6/29/88,Coming to America,Par.,"$128,152,301",2064,"$21,404,420",2064,-
99,2/12/88,School Daze,Col.,"$14,545,844",224,"$1,802,656",220,-
100,12/18/87,Eddie Murphy Raw,Par.,"$50,504,655",1494,"$9,077,324",1391,-
101,11/20/81,Ragtime,Par.,"$11,099,118",447,"$151,351",5,-

In [10]:
df['open_gross'] = df['opening_gross'].astype(str).apply(lambda x: x.strip('$'))
df['life_gross'] = df['lifetime_gross'].astype(str).apply(lambda x: x.strip('$'))

In [11]:
df['opengross'] = df['open_gross'].apply(lambda x:x.replace(',',''))
df['lifetimegross'] = df['life_gross'].apply(lambda x:x.replace(',',''))

In [12]:
del df['lifetime_gross']
del df['opening_gross']

In [13]:
df_life = df[df['lifetimegross'] != 'n/a']['lifetimegross']

In [14]:
df_life = df_life.astype(float)

In [16]:
#df['lifetimegross'] = df['lifetimegross'].astype(float)

In [18]:
#sum(df['lifetimegross'])

In [19]:
sum(df_life)

7299897504.0

In [ ]:
sum = 0
count = 0
for i in range(len(df['lifetimegross'])):
    try:
        sum += int(df['lifetimegross'][i])
        count +=1
    except:
        continue

In [ ]:
sum, count

In [ ]:
df['date']

In [ ]:
import copy
df_copy = df.copy()

In [ ]:
df_copy.head()

In [ ]:
del df_copy['lifetime_gross']
del df_copy['opening_gross']

In [ ]:
df_copy['datetime'] = pd.to_datetime(df_copy['date'])

In [ ]:
df_copy.head()

In [ ]:
df_by_releasedate = df_copy.sort_values(by='datetime')

In [ ]:
df_by_releasedate.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df_by_releasedate.head()

In [ ]:
D = df_by_releasedate[df_by_releasedate['lifetimegross'] != 'n/a']