In [86]:
import pandas as pd 
import html5lib

In [87]:
url = "http://www.boxofficemojo.com/people/chart/?view=Actor&id=harrisonford.htm"

In [88]:
df = pd.read_html(url)

In [89]:
df = df[1]

In [90]:
df.head()

,0,1,2,3,4,5,6,7
0,Date,Title (click to view),Studio,Lifetime Gross / Theaters,Opening / Theaters,Rank,NaN,NaN
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12

In [91]:
df = df.drop([0])

In [92]:
df.columns = ['date','title','studio','lifetime_gross','widest release', 'opening_gross','opening release', 'rank']

In [93]:
df.head()

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12
5,11/1/13,Ender's Game,LG/S,"$61,737,191",3407,"$27,017,351",3407,21

In [94]:
df['open_gross'] = df['opening_gross'].astype(str).apply(lambda x: x.strip('$'))
df['life_gross'] = df['lifetime_gross'].astype(str).apply(lambda x: x.strip('$'))

In [95]:
df['opengross'] = df['open_gross'].apply(lambda x:x.replace(',',''))
df['lifetimegross'] = df['life_gross'].apply(lambda x:x.replace(',',''))

In [30]:
df['opengross'].value_counts()

n/a          9
25337110     1
37132505     1
6012594      1
13635463     1
118558       1
247966675    1
27017351     1
29702959     1
4539990      1
15879645     1
14274503     1
9203266      1
100137835    1
26232425     1
23019618     1
27487144     1
4359424      1
16485276     1
77370        1
110313       1
1451000      1
13203458     1
5563259      1
18511191     1
6146782      1
29355021     1
4910483      1
20348017     1
3528376      1
11112632     1
36431290     1
6150002      1
11718981     1
12778459     1
160292       1
4718485      1
8305823      1
1554475      1
13012585     1
23758855     1
Name: opengross, dtype: int64

In [33]:
df['lifetimegross'].value_counts()

42868348     1
63779477     1
3000000      1
61737191     1
197171806    1
17637950     1
183875760    1
15014674     1
309306177    1
14302779     1
74339294     1
127352707    1
n/a          1
179870271    1
39322544     1
100240551    1
43001500     1
13300000     1
460998007    1
9346177      1
7385015      1
32868943     1
83351587     1
290475067    1
407500       1
122187717    1
31011732     1
172956409    1
4420000      1
317101119    1
83471511     1
455654       1
86303188     1
3783003      1
115000000    1
155464351    1
48751189     1
35168966     1
12068313     1
68706993     1
53672080     1
95020213     1
33500000     1
7230000      1
248159971    1
30940691     1
936662225    1
31502583     1
42629776     1
Name: lifetimegross, dtype: int64

In [34]:
print list(df['lifetimegross'])

['936662225', '42629776', '39322544', '127352707', '61737191', '7385015', '95020213', '100240551', '31011732', '12068313', '455654', '317101119', '48751189', '30940691', '35168966', '155464351', '31502583', '74339294', '172956409', '42868348', '53672080', '122187717', '3783003', '183875760', '83351587', '43001500', '86303188', '197171806', '63779477', '17637950', '14302779', '68706993', '179870271', '309306177', '32868943', '248159971', '290475067', '83471511', '15014674', '9346177', '3000000', '7230000', '33500000', '460998007', '4420000', '115000000', '13300000', '407500', 'n/a']

In [35]:
sum = 0
count = 0
for i in range(len(df['lifetimegross'])):
    try:
        sum += int(df['lifetimegross'][i])
        count +=1
    except:
        continue

In [36]:
sum, count

(5107121009, 48)

In [18]:
df['date']

0         Date
1     12/18/15
2      4/24/15
3      8/15/14
4     12/18/13
5      11/1/13
6      8/16/13
7      4/12/13
8      7/29/11
9     11/10/10
10     1/22/10
11     2/27/09
12     5/22/08
13     2/10/06
14     6/13/03
15     7/19/02
16     7/21/00
17     10/8/99
18     6/12/98
19     7/25/97
20     3/28/97
21    12/15/95
22      8/5/94
23      4/1/94
24      8/6/93
25      6/5/92
26     7/12/91
27     7/27/90
28     5/24/89
29    12/23/88
30     2/26/88
31    11/26/86
32      2/8/85
33     5/23/84
34     5/25/83
35     6/25/82
36     6/12/81
37     5/21/80
38     8/15/79
39      8/3/79
40     7/13/79
41     5/18/79
42    12/22/78
43    11/17/77
44     5/25/77
45      4/7/74
46      8/1/73
47     5/13/70
48    10/19/68
49     11/1/67
Name: date, dtype: object

In [39]:
import copy
df_copy = df.copy()

In [42]:
df_copy.head()

,date,title,studio,lifetime_gross,widest release,opening_gross,opening release,rank,open_gross,life_gross,opengross,lifetimegross
1,12/18/15,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,1,"247,966,675","936,662,225",247966675,936662225
2,4/24/15,The Age of Adaline,LGF,"$42,629,776",3070,"$13,203,458",2991,26,"13,203,458","42,629,776",13203458,42629776
3,8/15/14,The Expendables 3,LGF,"$39,322,544",3221,"$15,879,645",3221,27,"15,879,645","39,322,544",15879645,39322544
4,12/18/13,Anchorman 2: The Legend Continues,Par.,"$127,352,707",3507,"$26,232,425",3507,12,"26,232,425","127,352,707",26232425,127352707
5,11/1/13,Ender's Game,LG/S,"$61,737,191",3407,"$27,017,351",3407,21,"27,017,351","61,737,191",27017351,61737191

In [43]:
del df_copy['lifetime_gross']
del df_copy['opening_gross']

In [47]:
df_copy['datetime'] = pd.to_datetime(df_copy['date'])

In [50]:
df_copy.head()

,date,title,studio,widest release,opening release,rank,open_gross,life_gross,opengross,lifetimegross,datetime
1,12/18/15,Star Wars: The Force Awakens,BV,4134,4134,1,"247,966,675","936,662,225",247966675,936662225,2015-12-18
2,4/24/15,The Age of Adaline,LGF,3070,2991,26,"13,203,458","42,629,776",13203458,42629776,2015-04-24
3,8/15/14,The Expendables 3,LGF,3221,3221,27,"15,879,645","39,322,544",15879645,39322544,2014-08-15
4,12/18/13,Anchorman 2: The Legend Continues,Par.,3507,3507,12,"26,232,425","127,352,707",26232425,127352707,2013-12-18
5,11/1/13,Ender's Game,LG/S,3407,3407,21,"27,017,351","61,737,191",27017351,61737191,2013-11-01

In [52]:
df_by_releasedate = df_copy.sort_values(by='datetime')

In [67]:
df_by_releasedate.head()

,date,title,studio,widest release,opening release,rank,open_gross,life_gross,opengross,lifetimegross,datetime
49,11/1/67,A Time for Killing,Col.,-,-,-,n/a,n/a,n/a,n/a,1967-11-01
48,10/19/68,Journey to Shiloh,Uni.,-,-,-,n/a,"407,500",n/a,407500,1968-10-19
47,5/13/70,Getting Straight,Col.,-,-,-,n/a,"13,300,000",n/a,13300000,1970-05-13
46,8/1/73,American Graffiti,Uni.,-,-,-,n/a,"115,000,000",n/a,115000000,1973-08-01
45,4/7/74,The Conversation,Par.,-,-,-,n/a,"4,420,000",n/a,4420000,1974-04-07

In [66]:
import matplotlib.pyplot as plt
%matplotlib inline

In [77]:
df_by_releasedate.head()

,date,title,studio,widest release,opening release,rank,open_gross,life_gross,opengross,lifetimegross,datetime
49,11/1/67,A Time for Killing,Col.,-,-,-,n/a,n/a,n/a,n/a,1967-11-01
48,10/19/68,Journey to Shiloh,Uni.,-,-,-,n/a,"407,500",n/a,407500,1968-10-19
47,5/13/70,Getting Straight,Col.,-,-,-,n/a,"13,300,000",n/a,13300000,1970-05-13
46,8/1/73,American Graffiti,Uni.,-,-,-,n/a,"115,000,000",n/a,115000000,1973-08-01
45,4/7/74,The Conversation,Par.,-,-,-,n/a,"4,420,000",n/a,4420000,1974-04-07

In [79]:
D = df_by_releasedate[df_by_releasedate['lifetimegross'] != 'n/a']